.right-container{
    background-color: #f1f3f4;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}
.left-container{
    background-color: #f1f3f4;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}